<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= image_path("Garde partagée 1.jpg") %>');">
  <div class="container text-white d-flex flex-column align-items-center justify-content-center">
    <h1 class="display-3 animated-title"> Find Your Perfect Nanny </h1>
    <p class=" animated-text mb-4 "> Reliable. Caring. Always there for your family.</p>
   <%= link_to "Explore Nannies", nannies_path, class: "btn btn-primary btn-lg btn-animated" %>
  </div>
</div>
